[submodule "mcps/penpot"]
	path = mcps/penpot
	url = git@github.com:penpot/penpot.git
[submodule ".friday/vendor/vercel-skills"]
	path = .friday/vendor/vercel-skills
	url = git@github.com:vercel-labs/skills.git
	shallow = true
[submodule ".friday/vendor/ponytail"]
	path = .friday/vendor/ponytail
	url = git@github.com:DietrichGebert/ponytail.git
